In [ ]:
#Prerequisite: Need to upload ArabianSea_1.csv to execute this file
import pandas as pd
df1=pd.read_csv('/content/ArabianSea_1.csv')

In [ ]:
df1.isna().sum()

Band1      0
Band2      0
Band3      0
Band4      0
Band5      0
Band6      0
Band7      0
Band8      0
Band9      0
Band10     0
Band11     0
Band12     0
Band13     0
Band14     0
Band15     0
Band16     0
Band17     0
Band18     0
Band19     0
Band20     0
Band21     0
Band22     0
Band23     0
Band24    66
Band25     0
Band26     0
Band27     0
Band28     0
Band29     0
Band30     0
Band31     0
Band32     0
Band33     0
Band34     0
Band35     0
Band36     0
Band37     0
Band38     0
Band39     0
Band40     0
Band41     0
Band42     0
id         0
dust       0
dtype: int64

In [ ]:
df1 = df1.dropna()

In [ ]:
df1.shape

(3264, 44)

In [ ]:
df1.head

<bound method NDFrame.head of          Band1     Band2     Band3     Band4  ...  Band41  Band42   id  dust
0     0.039940  0.024198  0.112813  0.062288  ...   18.53  -97.49    0     0
1     0.041253  0.024921  0.113589  0.062666  ...   18.53  -97.49    0     0
2     0.113306  0.106017  0.170824  0.128386  ...   18.53  -98.91    0     0
3     0.066146  0.052175  0.137252  0.088771  ...   18.53  -98.91    0     0
4     0.202981  0.206838  0.241495  0.206545  ...   18.53  -98.91    0     0
...        ...       ...       ...       ...  ...     ...     ...  ...   ...
3325  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0
3326  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0
3327  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0
3328  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0
3329  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0

[3264 rows x 44 columns]>

In [ ]:
df1

         Band1     Band2     Band3     Band4  ...  Band41  Band42   id  dust
0     0.039940  0.024198  0.112813  0.062288  ...   18.53  -97.49    0     0
1     0.041253  0.024921  0.113589  0.062666  ...   18.53  -97.49    0     0
2     0.113306  0.106017  0.170824  0.128386  ...   18.53  -98.91    0     0
3     0.066146  0.052175  0.137252  0.088771  ...   18.53  -98.91    0     0
4     0.202981  0.206838  0.241495  0.206545  ...   18.53  -98.91    0     0
...        ...       ...       ...       ...  ...     ...     ...  ...   ...
3325  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0
3326  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0
3327  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0
3328  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0
3329  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00  332     0

[3264 rows x 44 columns]

In [ ]:
df1=df1.drop(columns='id')

In [ ]:
df1

         Band1     Band2     Band3     Band4  ...  Band40  Band41  Band42  dust
0     0.039940  0.024198  0.112813  0.062288  ... -131.43   18.53  -97.49     0
1     0.041253  0.024921  0.113589  0.062666  ... -131.43   18.53  -97.49     0
2     0.113306  0.106017  0.170824  0.128386  ... -131.48   18.53  -98.91     0
3     0.066146  0.052175  0.137252  0.088771  ... -131.48   18.53  -98.91     0
4     0.202981  0.206838  0.241495  0.206545  ... -131.48   18.53  -98.91     0
...        ...       ...       ...       ...  ...     ...     ...     ...   ...
3325  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00     0
3326  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00     0
3327  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00     0
3328  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00     0
3329  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00     0

[3264 rows x 43 columns]

In [ ]:
y=df1.loc[:,'dust']

In [ ]:
y

0       0
1       0
2       0
3       0
4       0
       ..
3325    0
3326    0
3327    0
3328    0
3329    0
Name: dust, Length: 3264, dtype: int64

In [ ]:
x=df1.loc[:,'Band1':'Band42']

In [ ]:
x

         Band1     Band2     Band3     Band4  ...  Band39  Band40  Band41  Band42
0     0.039940  0.024198  0.112813  0.062288  ...   38.67 -131.43   18.53  -97.49
1     0.041253  0.024921  0.113589  0.062666  ...   38.67 -131.43   18.53  -97.49
2     0.113306  0.106017  0.170824  0.128386  ...   38.70 -131.48   18.53  -98.91
3     0.066146  0.052175  0.137252  0.088771  ...   38.70 -131.48   18.53  -98.91
4     0.202981  0.206838  0.241495  0.206545  ...   38.70 -131.48   18.53  -98.91
...        ...       ...       ...       ...  ...     ...     ...     ...     ...
3325  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00    0.00
3326  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00    0.00
3327  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00    0.00
3328  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00    0.00
3329  0.000000  0.000000  0.000000  0.000000  ...    0.00    0.00    0.00    0.00

[3264 rows x 42 columns]

In [ ]:
x=x.to_numpy()

In [ ]:
x

array([[ 3.99398450e-02,  2.41982280e-02,  1.12812882e-01, ...,
        -1.31430000e+02,  1.85300000e+01, -9.74900000e+01],
       [ 4.12526590e-02,  2.49205630e-02,  1.13588713e-01, ...,
        -1.31430000e+02,  1.85300000e+01, -9.74900000e+01],
       [ 1.13305956e-01,  1.06016577e-01,  1.70823882e-01, ...,
        -1.31480000e+02,  1.85300000e+01, -9.89100000e+01],
       ...,
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00, ...,
         0.00000000e+00,  0.00000000e+00,  0.00000000e+00]])

In [ ]:
type(y)

pandas.core.series.Series

In [ ]:
x1=df1.loc[:,'Band1':'Band42']

In [ ]:
type(x1)

pandas.core.frame.DataFrame

In [ ]:
y1=df1.loc[:,'dust']

In [ ]:
type(y1)

pandas.core.series.Series

In [ ]:
y1=y1.to_frame()

In [ ]:
type(y1)

pandas.core.frame.DataFrame

In [ ]:
y1.shape

(3264, 1)

In [ ]:
x1.shape

(3264, 42)

In [ ]:
x1_np= x1.to_numpy()

In [ ]:
x1_np.shape

(3264, 42)

In [ ]:
type(x1_np)

numpy.ndarray

In [ ]:
y1_np=y1.to_numpy()

In [ ]:
y1_np.shape

(3264, 1)

In [ ]:
type(y1_np)

numpy.ndarray

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(x1_np, y1_np, test_size=0.3, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(2284, 42)
(980, 42)
(2284, 1)
(980, 1)

In [ ]:
import torch
from torch import nn, optim

In [ ]:
x_train_tensor = torch.from_numpy(X_train).float()
y_train_tensor = torch.from_numpy(Y_train).float()

In [ ]:
x_test_tensor = torch.tensor(X_test, dtype=torch.float)
y_test_tensor = torch.tensor(Y_test, dtype=torch.float)

In [ ]:
type(x_train_tensor)
type(y_train_tensor)

torch.Tensor

In [ ]:
type(x_test_tensor)
type(y_test_tensor)

torch.Tensor

In [ ]:
if torch.cuda.is_available:
  print('Good to go!')
else:
  print('Please set GPU via Edit -> Notebook Settings.')

Good to go!

In [ ]:
from sklearn.preprocessing import StandardScaler    
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=69)

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [ ]:
EPOCHS = 50
BATCH_SIZE = 64
LEARNING_RATE = 0.05

In [ ]:
## train data
class trainData(Dataset):
    
    def __init__(self, X_data, y_data):
        self.X_data = X_data
        self.y_data = y_data
        
    def __getitem__(self, index):
        return self.X_data[index], self.y_data[index]
        
    def __len__ (self):
        return len(self.X_data)


train_data = trainData(torch.FloatTensor(X_train), 
                       torch.FloatTensor(y_train))
## test data    
class testData(Dataset):
    
    def __init__(self, X_data):
        self.X_data = X_data
        
    def __getitem__(self, index):
        return self.X_data[index]
        
    def __len__ (self):
        return len(self.X_data)
    

test_data = testData(torch.FloatTensor(X_test))

In [ ]:
train_loader = DataLoader(dataset=train_data, batch_size=BATCH_SIZE, shuffle=True)
test_loader = DataLoader(dataset=test_data, batch_size=1)

In [ ]:
class binaryClassification(nn.Module):
    def __init__(self):
        super(binaryClassification, self).__init__()
        # Number of input features is 42.
        self.layer_1 = nn.Linear(42, 64) 
        self.layer_2 = nn.Linear(64, 64)
        self.layer_out = nn.Linear(64, 1) 
        
        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(p=0.1)
        self.batchnorm1 = nn.BatchNorm1d(64)
        self.batchnorm2 = nn.BatchNorm1d(64)
        
    def forward(self, inputs):
        x = self.relu(self.layer_1(inputs))
        x = self.batchnorm1(x)
        x = self.relu(self.layer_2(x))
        x = self.batchnorm2(x)
        x = self.dropout(x)
        x = self.layer_out(x)
        
        return x

In [ ]:
device = torch.device("cuda:0" )
print(device)

cuda:0

In [ ]:
model = binaryClassification()
model.to(device)
print(model)
criterion = nn.BCEWithLogitsLoss()
optimizer = optim.Adam(model.parameters(), lr=LEARNING_RATE)

binaryClassification(
  (layer_1): Linear(in_features=42, out_features=64, bias=True)
  (layer_2): Linear(in_features=64, out_features=64, bias=True)
  (layer_out): Linear(in_features=64, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (batchnorm2): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [ ]:
def binary_acc(y_pred, y_test):
    y_pred_tag = torch.round(torch.sigmoid(y_pred))

    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    acc = torch.round(acc * 100)
    
    return acc

In [ ]:
model.train()
for e in range(1, EPOCHS+1):
    epoch_loss = 0
    epoch_acc = 0
    for X_batch, y_batch in train_loader:
        X_batch, y_batch = X_batch.to(device), y_batch.to(device)
        optimizer.zero_grad()
        
        y_pred = model(X_batch)
        
        loss = criterion(y_pred, y_batch.unsqueeze(1))
        acc = binary_acc(y_pred, y_batch.unsqueeze(1))
        
        loss.backward()
        optimizer.step()
        
        epoch_loss += loss.item()
        epoch_acc += acc.item()
        

    print(f'Epoch {e+0:03}: | Loss: {epoch_loss/len(train_loader):.5f} | Acc: {epoch_acc/len(train_loader):.3f}')

Epoch 001: | Loss: 0.42441 | Acc: 83.371
Epoch 002: | Loss: 0.29267 | Acc: 89.400
Epoch 003: | Loss: 0.29065 | Acc: 89.000
Epoch 004: | Loss: 0.29142 | Acc: 88.400
Epoch 005: | Loss: 0.28317 | Acc: 88.800
Epoch 006: | Loss: 0.28089 | Acc: 88.743
Epoch 007: | Loss: 0.27978 | Acc: 88.800
Epoch 008: | Loss: 0.26955 | Acc: 89.000
Epoch 009: | Loss: 0.28124 | Acc: 89.257
Epoch 010: | Loss: 0.28127 | Acc: 88.800
Epoch 011: | Loss: 0.27559 | Acc: 88.829
Epoch 012: | Loss: 0.27860 | Acc: 88.914
Epoch 013: | Loss: 0.26740 | Acc: 89.286
Epoch 014: | Loss: 0.25957 | Acc: 89.257
Epoch 015: | Loss: 0.28066 | Acc: 88.171
Epoch 016: | Loss: 0.26700 | Acc: 89.200
Epoch 017: | Loss: 0.26152 | Acc: 89.343
Epoch 018: | Loss: 0.27358 | Acc: 88.857
Epoch 019: | Loss: 0.26177 | Acc: 89.371
Epoch 020: | Loss: 0.26430 | Acc: 89.286
Epoch 021: | Loss: 0.26700 | Acc: 89.571
Epoch 022: | Loss: 0.26087 | Acc: 89.314
Epoch 023: | Loss: 0.26443 | Acc: 89.057
Epoch 024: | Loss: 0.26234 | Acc: 88.971
Epoch 025: | Loss: 0.25913 | Acc: 89.171
Epoch 026: | Loss: 0.26111 | Acc: 88.629
Epoch 027: | Loss: 0.26847 | Acc: 89.029
Epoch 028: | Loss: 0.25407 | Acc: 89.200
Epoch 029: | Loss: 0.25681 | Acc: 89.114
Epoch 030: | Loss: 0.25745 | Acc: 88.886
Epoch 031: | Loss: 0.26567 | Acc: 88.629
Epoch 032: | Loss: 0.25862 | Acc: 88.714
Epoch 033: | Loss: 0.25877 | Acc: 88.914
Epoch 034: | Loss: 0.24888 | Acc: 88.829
Epoch 035: | Loss: 0.25185 | Acc: 89.171
Epoch 036: | Loss: 0.27706 | Acc: 88.171
Epoch 037: | Loss: 0.27838 | Acc: 89.143
Epoch 038: | Loss: 0.27985 | Acc: 88.486
Epoch 039: | Loss: 0.26714 | Acc: 89.257
Epoch 040: | Loss: 0.26047 | Acc: 89.029
Epoch 041: | Loss: 0.25303 | Acc: 89.057
Epoch 042: | Loss: 0.25108 | Acc: 88.857
Epoch 043: | Loss: 0.26066 | Acc: 89.086
Epoch 044: | Loss: 0.25285 | Acc: 89.686
Epoch 045: | Loss: 0.24979 | Acc: 89.286
Epoch 046: | Loss: 0.25518 | Acc: 88.543
Epoch 047: | Loss: 0.26018 | Acc: 88.571
Epoch 048: | Loss: 0.25933 | Acc: 88.314
Epoch 049: | Loss: 0.25320 | Acc: 89.057
Epoch 050: | Loss: 0.24878 | Acc: 89.114

In [ ]:
y_pred_list = []
model.eval()
with torch.no_grad():
    for X_batch in test_loader:
        X_batch = X_batch.to(device)
        y_test_pred = model(X_batch)
        y_test_pred = torch.sigmoid(y_test_pred)
        y_pred_tag = torch.round(y_test_pred)
        y_pred_list.append(y_pred_tag.cpu().numpy())

y_pred_list = [a.squeeze().tolist() for a in y_pred_list]

In [ ]:
confusion_matrix(y_test, y_pred_list)

array([[936,   0],
       [142,   0]])